@page "/"
<PageTitle>Empresa X - Desenvolvimento Web</PageTitle>

<div class="container">
    <div class="hero-content row align-items-center">
        <div class="col-md-6">
            <div class="product-text">
                <h3>PRESENÇA ONLINE ATIVA!</h3>
            </div>
            <div class="hero-text">
                <h1 class="display-4">Faça seu negócio brilhar com AtiveWeb!</h1>
                <h2 class="lead">Conquiste o mercado online e aumente suas vendas</h2>
            </div>
        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <!-- Adicionamos align-items-center e justify-content-center para centralizar vertical e horizontalmente -->
            <div class="hero-image text-center">
                <img src="/images/mulher-celebra.png" alt="Bem-vindo à Empresa X" class="img-fluid">
                <img src="/images/homem-celebra.png" alt="Bem-vindo à Empresa X" class="img-fluid">
                <img src="/images/mulher-celebra.png" alt="Bem-vindo à Empresa X" class="img-fluid">

            </div>
        </div>
    </div>
</div>

<section class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-text">
                    <h3>PRESENÇA ONLINE ATIVA!</h3>
                </div>
                <p class="lead">Conquiste o mercado online e aumente suas vendas</p>
                <div class="section-image">
                    <img src="/images/foguete.jpeg" alt="Imagem" class="img-fluid">
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product">
                            <img src="/images/anuncio.png" class="img-fluid">
                            <h3>Criação de Site</h3>
                            <p>Desenvolvemos sites modernos e responsivos para destacar o seu negócio na internet.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product">
                            <img src="/images/e-commerce.jpg" class="img-fluid">
                            <h3>E-commerce</h3>
                            <p>Construímos lojas virtuais personalizadas para impulsionar as suas vendas online.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product">
                            <img src="/images/marketing-digital.jpg" class="img-fluid">
                            <h3>Tráfego Orgânico</h3>
                            <p>Alcance seu público-alvo e impulsione suas vendas com estratégias de marketing digital
                                eficazes.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product">
                            <img src="/images/marketing-digital.jpg" class="img-fluid">
                            <h3>Tráfego Pago</h3>
                            <p>Alcance seu público-alvo e impulsione suas vendas com estratégias de marketing digital
                                eficazes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
